<header class="bg-primary p-3 d-flex align-items-center justify-content-between">
  <a data-bs-toggle="offcanvas" class="text-decoration-none" href="#menu" role="button" aria-controls="menu">
    <i class="ti ti-menu-2 text-white h4"></i>
  </a>
  <h6 class="text-white h1 mb-0 fw-bold">NG BOOTSTRAP ADDONS</h6>
  <span></span>
</header>
<div class="offcanvas offcanvas-start bg-gradient-primary text-bg-primary" tabindex="-1" id="menu" aria-labelledby="menuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title h-2 fw-bold" id="menuLabel">NG BOOTSTRAP ADDONS</h5>
    <button type="button" class="btn btn-link text-secondary ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x h4 mb-0"></i></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white h3 mb-0" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white h3 mb-0" routerLink="/form-sample">Form Page</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>