<app-sample-container tagName="nba-input">
    <nba-input
        icon="ti ti-file"
        label="Default Input"
        size="sm"
        [(ngModel)]="defaultInput"
    />
    <hr>
    <nba-input
        label="Currency Input"
        icon="ti ti-file"
        currency
        hasCurrency
        [(ngModel)]="currencyInput"
    />
    <hr>
    <nba-input
        label="Password Input"
        password
    />
    <hr>
    <nba-input
        label="Disabled Input"
        disabled
        [(ngModel)]="defaultInput"
    />
</app-sample-container>