<app-sample-container tagName="nba-table">
  <nba-table #dt
    [multiple]="true"
    [value]="list()"
    [itemsPerPage]="13"
    [globalFilterFields]="['name', 'country.name', 'representative.name']"
    [(selectedRows)]="selectedRows"
  >
    <ng-template #caption>
      <div class="d-flex align-items-center justify-content-between gap-2 w-100">
          <a href="javascript:;" class="btn btn-sm btn-outline-dark no-validate" (click)="dt.clearFilters()">
              <i class="ti ti-filter-off"></i>
              Limpar
          </a>
          <input
          class="form-control form-control-sm w-auto no-validate"
          placeholder="Buscar..."
          [ngModel]="globalFilter"
          (ngModelChange)="dt.onGlobalFilterChange($event)"
        />
      </div>
      @if(selectedRows().length > 0){
        <div class="d-flex align-items-center justify-content-end mt-3">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeCustomer(selectedRows())">Excluir({{ selectedRows().length }})</button>
        </div>
      }
    </ng-template>
    <ng-template #header>
      <tr>
        <th checkbox></th>
        <th width="2em"></th>
        <th class="text-dark" nbaColumnHeader field="id" type="numeric">ID</th>
        <th class="text-dark" nbaColumnHeader field="name" type="text">Nome</th>
        <th class="text-dark" nbaColumnHeader field="country.name" type="text">País</th>
        <th
          class="text-dark"
          nbaColumnHeader
          field="representative.name"
          (onApplyFilter)="dt.setFilter($event, filterByRepresentative)"
          (onClearFilter)="selectedRepresentative = []"
        >
          Representante
          <ng-template #filter>
              <nba-multiselect
                inputClass="no-validate"
                label="Representante"
                [options]="representativeOptions"
                [(ngModel)]="selectedRepresentative"
              ></nba-multiselect>
          </ng-template>
        </th>
        <th class="text-dark" nbaColumnHeader field="date" type="date">Data</th>
        <th class="text-dark" nbaColumnHeader field="verified" type="boolean">Verificado</th>
      </tr>
    </ng-template>

    <ng-template #body let-customers>
      @for(customer of cast(customers); track $index){
      <tr nbaControl expandable (rowDoubleClick)="onDoubleClick()" [value]="customer">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.country?.name ?? "" }}</td>
        <td>
            <div class="d-flex align-items-center gap-2">
                <img [alt]="customer.representative?.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative?.image }}" width="32" style="vertical-align: middle" />
                <span class="ml-1 align-middle">{{ customer.representative?.name }}</span>
            </div>
        </td>
        <td>{{customer.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{customer.verified ? 'Sim' : 'Não'}}</td>
        <ng-container collapse>
          
        </ng-container>
        <ng-container menu>
          <li role="menuitem">
            <a href="javascript:;" class="dropdown-item text-center">
            <i class="ti ti-printer"></i> Imprimir Relatório
          </a>
          </li>
          <li role="menuitem">
            <a href="javascript:;" class="dropdown-item text-center" (click)="removeCustomer(customer)">
              <i class="ti ti-trash"></i> Remover
            </a>
          </li>
        </ng-container>
      </tr>
      }
    </ng-template>
  </nba-table>
</app-sample-container>
