<app-sample-container tagName="nba-table">
  <nba-table #dt
    [value]="loadCommand.finalResult()"
    [globalFilterFields]="['name', 'country.name', 'representative.name']"
  >
    <ng-template #caption>
      <div class="d-flex align-items-center justify-content-between gap-2 w-100">
          <a href="javascript:;" class="btn btn-sm btn-outline-dark no-validate" (click)="dt.clearFilters()">
              <i class="ti ti-filter-off"></i>
              Limpar
          </a>
          <input
          class="form-control form-control-sm w-auto no-validate"
          placeholder="Buscar..."
          [ngModel]="globalFilter"
          (ngModelChange)="dt.onGlobalFilterChange($event)"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="bg-light text-primary" nbaColumnHeader field="id" type="numeric">ID</th>
        <th class="bg-light text-primary" nbaColumnHeader field="name" type="text">Nome</th>
        <th class="bg-light text-primary" nbaColumnHeader field="country.name" type="text">País</th>
        <th
          class="bg-light text-primary"
          nbaColumnHeader
          field="representative.name"
          (onApplyFilter)="dt.setFilter($event, filterByRepresentative)"
          (onClearFilter)="selectedRepresentative = []"
        >
          Representante
          <ng-template #filter>
              <nba-multiselect
                inputClass="no-validate"
                label="Representante"
                [options]="representativeOptions"
                [(ngModel)]="selectedRepresentative"
              ></nba-multiselect>
          </ng-template>
        </th>
        <th class="bg-light text-primary" nbaColumnHeader field="date" type="date">Data</th>
      </tr>
    </ng-template>

    <ng-template #body let-customers>
      @for(customer of cast(customers); track $index){
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.country?.name ?? "" }}</td>
        <td>
            <div class="d-flex align-items-center gap-2">
                <img [alt]="customer.representative?.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative?.image }}" width="32" style="vertical-align: middle" />
                <span class="ml-1 align-middle">{{ customer.representative?.name }}</span>
            </div>
        </td>
        <td>{{customer.date | date: 'dd/MM/yyyy'}}</td>
      </tr>
      }
    </ng-template>
  </nba-table>
</app-sample-container>
