<app-sample-container tagName="nba-ac-lov">
    <nba-ac-lov
        label="Search Movie"
        [acUrl]="`${environment.OMDb_API.apiUrl}?i=:imdbID&apikey=${environment.OMDb_API.key}`"
        [map]="mapConfig"
        searchName="s"
        format="[:imdbID] :Title (:Year)"
        [(ngModel)]="cdMovie"
        [clearIfNotMatch]="true"
        [resultPath]="{lov: 'Search'}"
        required>
    </nba-ac-lov>
    <button type="button" class="btn btn-primary" (click)="clearMovie()">Clear</button>
</app-sample-container>